In [184]:
import numpy as np
import scipy
from numpy import asarray as npa
from matplotlib import pyplot as plt
import pandas as pd
import Queue
%matplotlib inline

In [185]:
data = pd.read_csv('titanic.csv')
data.head(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [186]:
data.pop('Name');
data.pop('Cabin');
data.pop('Ticket');
data.pop('PassengerId');

In [187]:
data.pop('Embarked');

In [188]:
meanAge = data['Age'].mean()
data['Age'] = data['Age'].fillna(int(meanAge))

sex = {
    'male': 0,
    'female': 1
}
for im in range(data.shape[0]):
    data['Sex'][im] = sex[data['Sex'][im]]

c:\python27\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [189]:
data.head(n=100)

    Survived  Pclass Sex    Age  SibSp  Parch      Fare
0          0       3   0  22.00      1      0    7.2500
1          1       1   1  38.00      1      0   71.2833
2          1       3   1  26.00      0      0    7.9250
3          1       1   1  35.00      1      0   53.1000
4          0       3   0  35.00      0      0    8.0500
5          0       3   0  29.00      0      0    8.4583
6          0       1   0  54.00      0      0   51.8625
7          0       3   0   2.00      3      1   21.0750
8          1       3   1  27.00      0      2   11.1333
9          1       2   1  14.00      1      0   30.0708
10         1       3   1   4.00      1      1   16.7000
11         1       1   1  58.00      0      0   26.5500
12         0       3   0  20.00      0      0    8.0500
13         0       3   0  39.00      1      5   31.2750
14         0       3   1  14.00      0      0    7.8542
15         1       2   1  55.00      0      0   16.0000
16         0       3   0   2.00      4      1   29.1250
17         1       2   0  29.00      0      0   13.0000
18         0       3   1  31.00      1      0   18.0000
19         1       3   1  29.00      0      0    7.2250
20         0       2   0  35.00      0      0   26.0000
21         1       2   0  34.00      0      0   13.0000
22         1       3   1  15.00      0      0    8.0292
23         1       1   0  28.00      0      0   35.5000
24         0       3   1   8.00      3      1   21.0750
25         1       3   1  38.00      1      5   31.3875
26         0       3   0  29.00      0      0    7.2250
27         0       1   0  19.00      3      2  263.0000
28         1       3   1  29.00      0      0    7.8792
29         0       3   0  29.00      0      0    7.8958
..       ...     ...  ..    ...    ...    ...       ...
70         0       2   0  32.00      0      0   10.5000
71         0       3   1  16.00      5      2   46.9000
72         0       2   0  21.00      0      0   73.5000
73         0       3   0  26.00      1      0   14.4542
74         1       3   0  32.00      0      0   56.4958
75         0       3   0  25.00      0      0    7.6500
76         0       3   0  29.00      0      0    7.8958
77         0       3   0  29.00      0      0    8.0500
78         1       2   0   0.83      0      2   29.0000
79         1       3   1  30.00      0      0   12.4750
80         0       3   0  22.00      0      0    9.0000
81         1       3   0  29.00      0      0    9.5000
82         1       3   1  29.00      0      0    7.7875
83         0       1   0  28.00      0      0   47.1000
84         1       2   1  17.00      0      0   10.5000
85         1       3   1  33.00      3      0   15.8500
86         0       3   0  16.00      1      3   34.3750
87         0       3   0  29.00      0      0    8.0500
88         1       1   1  23.00      3      2  263.0000
89         0       3   0  24.00      0      0    8.0500
90         0       3   0  29.00      0      0    8.0500
91         0       3   0  20.00      0      0    7.8542
92         0       1   0  46.00      1      0   61.1750
93         0       3   0  26.00      1      2   20.5750
94         0       3   0  59.00      0      0    7.2500
95         0       3   0  29.00      0      0    8.0500
96         0       1   0  71.00      0      0   34.6542
97         1       1   0  23.00      0      1   63.3583
98         1       2   1  34.00      0      1   23.0000
99         0       2   0  34.00      1      0   26.0000

[100 rows x 7 columns]

"""for im in range(data.shape[0]):
    if (data['Sex'][im] != 0) and (data['Sex'][im] != 1):
        print "here"
    else:
        print ".",
def bfs(dt, maxDepth = None):
    Q = Queue.Queue()
    Q.put((dt,0,'root'))
    (x,y,ch) = Q.get()
    print "here"
    while(Q.empty() != False):
        dt, depth, ch = Q.get()
        if (maxDepth is not None) and (depth>maxDepth):
            break
        
        for i in range(2*depth):
            print ".",
        print "\_", ch,
        print self.survived, "/", self.dead," split on -> ", label[self.col]
        
        Q.put((dt.self.l, depth+1, 'l'))
        Q.put((dt.self.r, depth+1, 'r'))        
"""

In [190]:
ytrain = data['Survived'].values #Survived or not
xtrain = npa([data['Pclass'], data['Sex'], data['Age'], # Pclass	Sex	Age	SibSp	Parch	Fare
              data['SibSp'], data['Parch'], data['Fare'], 
              data['Survived']]).astype("float").T  
label = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']
index = { 'Pclass':0, 'Sex':1, 'Age':2, 'SibSp':3, 'Parch':4, 'Fare':5, 'Survived':6}
print xtrain.shape#[:,-1]

(891, 7)

In [207]:
test = pd.read_csv('test.csv')
test = test.drop(['Name','Ticket','Cabin','Embarked'],axis=1)
pid = test.pop('PassengerId')
test.head(n=100)

meanAge = test['Age'].mean()
test['Age'] = test['Age'].fillna(int(meanAge))

sex = {
    'male': 0,
    'female': 1
}
for im in range(test.shape[0]):
    test['Sex'][im] = sex[test['Sex'][im]]

c:\python27\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [192]:
def entropy(data): #give it divided data, and it shall return its entropy
    p = 0.0
    for im in range(data.shape[0]): #could have straight away taken p = data[-1].mean() as values are only 0 and 1
        if data[im,-1] == 1:
            p += 1
    p /= data.shape[0]
    if p==0 or p==1:
        return 0
    entropy = -p*np.log2(p) - (1-p)*np.log2(1-p)
    return entropy

In [193]:
def split(data, col, mean, disp = False):
    if disp == True:
        print "Mean->", mean, " for ", label[col]
    l,r = [], []
    for im in range(data.shape[0]):
        if data[im,col] <= mean:
            l.append(data[im])
        else:
            r.append(data[im])
    return npa(l), npa(r)

l, r = split(xtrain,index['Age'], xtrain[:,index['Age']].mean())
print l.shape, r.shape

(561, 7) (330, 7)

In [194]:
def informationGain(parent,l,r):
    return (entropy(parent) - (float(l.shape[0])/parent.shape[0])*entropy(l) - (float(r.shape[0])/parent.shape[0])*entropy(r))

print "parent:", entropy(xtrain)
print "l:\t", entropy(l)
print "r:\t", entropy(r)
print "gain:  ", informationGain(xtrain,l,r)

parent: 0.960707901876
l:	0.951258805282
r:	0.974385605252
gain:   0.000883615122947

In [195]:
class dtnode:
    def __init__(self, depth=0, maxDepth = 10000):
        self.col = 0
        self.l = None
        self.r = None
        self.splitVal = float('Nan')
        self.gain = 0.0
        self.survived = 0
        self.dead = 0
        self.depth = depth
        self.maxDepth = maxDepth
    
    def fit(self,data):        
        #fill dead and alive
        for im in range(data.shape[0]):
            if data[im,-1] == 1:
                self.survived += 1
            else:
                self.dead += 1
        
        #find col to be split on
        maxGain = -100 #-inf
        for col in range(data.shape[1]-1):
            mean = data[:,col].mean()
            l, r = split(data,col,mean)
            if len(l)==0 or len(r)==0:
                continue
                
            gain = informationGain(data,l,r)
            if gain > maxGain:
                maxGain = gain
                self.col = col
        
        if maxGain == -100:
            return
        
        self.splitVal = data[:,self.col].mean()
        l, r = split(data, self.col, self.splitVal)
        if len(l) == 0 or len(r) == 0 or self.depth >= self.maxDepth-1:
            return 
        
        else:
            self.l = dtnode(depth = self.depth+1, maxDepth = self.maxDepth)
            self.l.fit(l)
            
            self.r = dtnode(depth = self.depth+1, maxDepth = self.maxDepth)
            self.r.fit(r)   
    
    def decide(self):
        ans = 0
        if self.survived >= self.dead:
            ans = 1
        
        larger = max(self.survived, self.dead)
        smaller = min(self.survived, self.dead)
        return (ans, (larger,smaller))
    
    def predict(self, sample):
        if self.l == None and self.r == None:
            return self.decide()
        
        if sample[self.col] <= self.splitVal:
            return self.l.predict(sample)
        else:
            return self.r.predict(sample)
    
    def recurse(self, maxDepth = None):
        if (maxDepth != None) and (self.depth>=maxDepth):
            return
        
        for i in range(2*self.depth):
            print ".",
        print "\_", 
        print self.survived, "/", self.dead," split on -> ", label[self.col]
        
        if self.l is not None:
            self.l.recurse(maxDepth = maxDepth)
        if self.r is not None:
            self.r.recurse(maxDepth = maxDepth)

In [196]:
dt = dtnode(maxDepth = 4)
dt.fit(xtrain)
#dt.recurse()
print xtrain[10]
print dt.predict(xtrain[1])

\_ 342 / 549  split on ->  Sex
. . \_ 109 / 468  split on ->  Fare
. . . . \_ 51 / 343  split on ->  Parch
. . . . . . \_ 38 / 326  split on ->  Pclass
. . . . . . \_ 13 / 17  split on ->  Age
. . . . \_ 58 / 125  split on ->  Pclass
. . . . . . \_ 45 / 71  split on ->  Age
. . . . . . \_ 13 / 54  split on ->  SibSp
. . \_ 233 / 81  split on ->  Pclass
. . . . \_ 161 / 9  split on ->  Pclass
. . . . . . \_ 91 / 3  split on ->  Parch
. . . . . . \_ 70 / 6  split on ->  Parch
. . . . \_ 72 / 72  split on ->  Fare
. . . . . . \_ 56 / 41  split on ->  SibSp
. . . . . . \_ 16 / 31  split on ->  SibSp
[  3.    1.    4.    1.    1.   16.7   1. ]
(1, (91, 3))

In [208]:
test.head(n=10)

   Pclass Sex   Age  SibSp  Parch     Fare
0       3   0  34.5      0      0   7.8292
1       3   1  47.0      1      0   7.0000
2       2   0  62.0      0      0   9.6875
3       3   0  27.0      0      0   8.6625
4       3   1  22.0      1      1  12.2875
5       3   0  14.0      0      0   9.2250
6       3   1  30.0      0      0   7.6292
7       2   0  26.0      1      1  29.0000
8       3   1  18.0      0      0   7.2292
9       3   0  21.0      2      0  24.1500

In [213]:
yt = []
testArr = npa([test['Pclass'], test['Sex'], test['Age'], # Pclass	Sex	Age	SibSp	Parch	Fare
              test['SibSp'], test['Parch'], test['Fare'], 
              ]).astype("float").T 
for it in range(pid.shape[0]):
    ans = dt.predict(testArr[it])
    yt.append(ans[0])

In [214]:
submission = pd.DataFrame({
        "PassengerId": pid,
        "Survived": yt
    })
submission.to_csv('titanicAns.csv', index=False)